<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/noheader}">
        
	<main layout:fragment="contents" class="screen">
      <div class="content">
        <section class="login-section">
          <h1 class="logo text-center">Gingstagram</h1>
          
          
            <div class="form-group">
              <label for="loginIdInput">Id</label>
              <input type="text" id="loginIdInput" class="form-control" placeholder="아이디">
            </div>
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input type="password" id="passwordInput" class="form-control" placeholder="비밀번호">
            </div>
            <div class="button-group text-center">
              <button type="button" id="loginBtn" class="btn btn-primary btn-block">로그인</button>
            </div>
            <p class="link text-center mt-3">
              <span>계정이 없으신가요? </span><a href="/user/join-view" class="text-primary">회원가입</a>
            </p>
          
        </section>
      </div>

    </main>
    
    <script layout:fragment="script">
			$(function() {
				$("#loginBtn").on("click", function() {
					let loginId = $("#loginIdInput").val();
					let password = $("#passwordInput").val();
					
					if(loginId == "") {
						alert("아이디를 입력하세요");
						return ;
					}
					
					if(password == "") {
						alert("비밀번호를 입력하세요");
						return ;
					}
					
					console.log("아이디 : " + loginId + " 비밀번호 : " + password);
					
					$.ajax({
						type:"post"
						, url:"/user/login"
						, data:{"loginId":loginId, "password":password}
						, success:function(response) {
							if(response.result == "success") {
								location.href = "/post/timeline-view";
							} else {
								alert("아이디와 패스워드를 확인해주세요");
							}
						}
						, error:function() {
							alert("로그인 에러!");
						}
					});
				});
			})
		
		</script>
</html>