@charset "UTF-8";

header {
  padding: 15px 50px;
  border-bottom: 1px solid #ccc
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #1e1e1e;
}

.icons .icon {
  width: 30px;
  margin-left: 30px;
  
}

.icons .icon:hover {
  transform: scale(1.1);  /* 이미지를 1.1배 크기로 확대 */
    transition: transform 0.3s ease;
}

#formFile {
  display: none;
}

.textarea {
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 테두리 제거 */
  resize: none; /* 크기 조절 비활성화 */
  font-size: 16px; /* 글자 크기 조정 */
  width: 100%; /* 부모 요소에 맞춤 */
  background-color: transparent; /* 배경색 투명 */
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post {
  width: 100%;
  max-width: 500px;
  margin: 10px;
  background: white;
  padding: 20px;
}

.post-actions .icon {
  width: 27px;
  margin-right: 10px;
}

.text-muted {
  font-size: 14px;
  color: gray;
}

footer {
  font-size: 12px;
  color: #888;
  text-align: center;
  position: fixed; /* 페이지 맨 밑에 고정되도록 수정 */
  bottom: 0;
  width: 100%;
  background-color: white; /* 흰색 배경 */
  padding: 20px 0; /* 위아래 여백 */
  border-top: 1px solid #ccc
}

/* 팝업창 스타일 */
.popup {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  top: 50px; /* 이미지 바로 아래에 팝업이 뜨도록 설정 */
  right: 0;
  width: 130px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


/* 버튼 스타일 */
.btn {
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
